<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
</head>
<body>
  <h1 th:text="${title}"></h1>
  
  <ul>
    <li>
      <a th:href="@{/products/details}">See default product</a>
    </li>
    
    <li>
      <a th:href="@{/products/details(id=7)}">See product without name</a>
    </li>

    <li>
      <a th:href="@{/products/details(id=8, name='Iphone')}">See full product</a>
    </li>
  </ul>
</body>
</html>